.scrolltop {
    background-color: $yellow-color;
}

.new-dashboard {
    .container {
        width: 100%;
        max-width: 100%;
    }
}

.scrolltop {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #A27C45;
    text-align: center;
    position: fixed;
    bottom: -60px;
    color: #fff;
    line-height: 33px;
    font-size: 2.2em;
    #{$left}: 30px;
    -webkit-box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.4);
    cursor: pointer;

    &.visible {
        bottom: 7vh;
    }
}




.nopadding {
    padding: 0 !important;
}

.noposition {
    position: static !important;
}

.custom-container {
    margin-#{$right}: auto;
    margin-#{$left}: auto;
    padding-#{$left}: 15px;
    padding-#{$right}: 15px;
}



.gradient-bg {
    padding: 20px 0 0 0;
    position: relative;
    min-height: 500px;
    z-index: 0;
    background: rgb(18, 29, 57);
    background: -moz-linear-gradient(top, rgba(18, 29, 57, 1) 0%, rgba(255, 255, 255, 1) 50%);
    background: -webkit-linear-gradient(top, rgba(18, 29, 57, 1) 0%, rgba(255, 255, 255, 1) 50%);
    background: linear-gradient(to bottom, rgba(18, 29, 57, 1) 0%, rgba(255, 255, 255, 1) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#121d39', endColorstr='#ffffff', GradientType=0);

}


.gray-bg {
    background-color: #e5e3ee;
    padding-bottom: 50px;
}

.dark-color {
    color: $brand-color !important;
}

.dark-bg {
    background-color: #171717;
    padding-bottom: 30px;
}

.dark-gray-bg {
    background: #dfdde7;
    padding: 10px 10px 20px 10px;
}

.clear-fix {
    clear: both;
}

.overflow-hidden {
    overflow: hidden;
}


.big-font {
    font-size: 2em !important;
    line-height: 76px;
}



.whiteBG {
    background: #fff;
    padding: 15px 15px 45px 15px;
    height: 100%;

    .brief {
        color: #575757 !important;
    }
}


.scrollToTop {
    width: 35px;
    height: 35px;
    border-radius: 7px;
    text-align: center;
    font-size: 20px;
    line-height: 34px;
    background: whiteSmoke;
    color: #fff;
    text-decoration: none;
    position: fixed;
    bottom: 70px;
    #{$right}: 40px;
    display: none;
    background: #e61332;
    z-index: 10;

    &:hover {
        color: #fff;
    }

    @include mq('xxl') {
        width: 55px;
        height: 55px;
        font-size: 30px;
        line-height: 54px;
    }
}

.progress {
    height: 10px;
    background-color: #8c8683;
}

.progress-bar-brand {
    background-color: #E7B74F;
    height: 10px;
}

.rounded-shape {
    background-color: #F2F2F2;
    border-radius: 5px;
    border-top-#{$left}-radius: 35px;
    padding: calcRem(20) calcRem(28);

    .title {
        border-bottom: 1px solid rgb(16 22 44 / 5%);
        padding-bottom: 8px;

        h2 {
            font-size: calcRem(24);
            color: $dark;
            font-family: $droid;
        }
    }
}

.scroll-area {
    max-height: calcRem(250);
    padding: calcRem(15);
    overflow: auto;
    padding-#{$right}: 8px;
}

.files-area {
    .file-item {
        color: $dark;
        font-size: calcRem(18);
        border-bottom: 1px solid rgb(16 22 44 / 5%);
        padding: 8px 0;

        i {
            color: $dark;
            font-size: calcRem(20);
            margin-#{$left}: 10px;
        }

        .size {
            font-size: calcRem(14);
        }
    }

    .scroll-area {
        max-height: calcRem(140);
        margin-#{$left}: - calcRem(28);
    }
}




.nav.nav-tabs.nav-tabs-line.nav-tabs-line-3x .nav-link:hover:not(.disabled),
.nav.nav-tabs.nav-tabs-line.nav-tabs-line-3x .nav-link.active,
.nav.nav-tabs.nav-tabs-line.nav-tabs-line-3x .show>.nav-link {
    border-bottom: 3px solid $second-color;
}

.nav .show>.nav-link,
.nav .nav-link:hover:not(.disabled),
.nav .nav-link.active {
    color: $second-color;
}

.navi .navi-item .navi-link:hover .navi-text {
    color: $second-color !important;
}

.new-dashboard {
    header {
        .bootstrap-select .dropdown-toggle .filter-option {
            padding: 1px 8px;
        }

        .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
            width: auto;
        }

        .bootstrap-select>.dropdown-toggle.btn-light .filter-option,
        .bootstrap-select>.dropdown-toggle.btn-secondary .filter-option {
            color: $second-color;
        }

        .btn.btn-light.dropdown-toggle:after {
            color: $second-color;
        }

        .bootstrap-select>.dropdown-toggle.btn-light,
        .bootstrap-select>.dropdown-toggle.btn-secondary {
            color: $second-color;
        }

        .bootstrap-select {
            .dropdown-menu.inner>li.selected>a {
                background-color: $second-color;
                color: $second-color;
            }

            .dropdown-menu.inner>li.selected>a .text,
            .dropdown-menu.inner>li:hover>a .text {
                color: $white;

            }

            .dropdown-menu.inner>li.selected>a,
            .bootstrap-select .dropdown-menu.inner>li:hover>a {
                background-color: $second-color !important;

            }

            .dropdown-item {
                background-color: #414141;

            }

            .dropdown-toggle {
                border: none !important;
                background-color: #414141 !important;
                padding: 0 15px;
                height: 26px;
                font-size: .8888888889rem;
                border-radius: 50px;
                border-top-#{$left}-radius: 0;
                border-bottom-#{$left}-radius: 0;
            }

            .dropdown-menu.inner>li>a .text {
                color: $white;
            }

            .dropdown-menu.inner>li.selected>a,
            .bootstrap-select .dropdown-menu.inner>li:hover>a {
                background-color: $second-color;
                color: $second-color;
            }
        }
    }
}

.border-r-20 {
    border-radius: 20px !important;
}

.search-small-form {
    max-height: 0;
    visibility: hidden;
    .input-nice-select {
        border: none;
        border-right: 1px solid #e5e3ee;
        border-radius: 0;
    }
    &.active {
        max-height: 500px;
        visibility: visible;
        transition: 1.5s ease-in-out;

    }

    .select2-container--default.select2-container--focus .select2-selection--multiple,
    .select2-container--default.select2-container--focus .select2-selection--single,
    .select2-container--default.select2-container--open .select2-selection--multiple,
    .select2-container--default.select2-container--open .select2-selection--single,
    .select2-container--default .select2-selection--single,
    .select2-container--default .select2-selection--multiple {
        border: none !important;
    }
}

.search-plus-form {
    max-height: 0;
    visibility: hidden;
    opacity: 0;

    &.active {
        max-height: 500px;
        visibility: visible;
        transition: 1.5s ease-in-out;
        opacity: 1;
    }
}

.min-w-200px {
    min-width: 200px;
}

.burger-icon {
    cursor: pointer;
    color: #fff;
    font-size: calcRem(24);
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    outline: none !important;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    background-color: none;
    outline: none !important;
    width: 24px;
    height: 24px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

    &:hover {
        color: $second-color;
    }

    span {
        display: block;
        position: absolute;
        border-radius: 3px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        top: 10px;
        height: 3px;
        min-height: 3px;
        width: 100%;
        background-color: $white;

        &:before,
        &::after {
            background-color: #fff;
            position: absolute;
            display: block;
            height: 3px;
            min-height: 3px;
            content: "";
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            border-radius: 3px;
        }

        &::before {
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            right: auto;
            left: 0px;
            width: 50%;
            top: -8px;

        }

        &::after {
            transition: all 0.3s;
            right: auto;
            left: 0px;
            width: 75%;
            bottom: -8px;
        }
    }
}
.draggable-handle {
    cursor: move;
    color: #ccc;
    font-size: calcRem(22);
}

.card {
    border: 0;
}
.delete-icon,.draggable-handle  {
    color: #ccc;
    font-size: 1.2222222222rem;
    &:hover {
        color: $second-color;
    }
}