.btn-warning {
    background-color: $warning-color;
    border-color: $warning-color;
    color: #fff;

    &:hover {
        color: #fff;
    }
}

.btn-primary {
    color: $white;
    background-color: $second-color;
    border-color: $second-color;

    &:hover {
        border-color: $second-color;
        background-color: transparent;
        color: $second-color;
    }
}

.btn-success {
    color: #FFFFFF;
    background-color: #0BB783;
    border-color: #0BB783;

    &:hover {
        border-color: #0BB783;
        background-color: transparent;
        color: #0BB783;
    }
}

.btn-outline-warning {
    color: $white;
}