.new-dashboard {


    .form-control:focus {
        border-color: #fac126;
    }

    .text-primary {
        color: #fac126 !important;
    }

    a.text-hover-primary:hover,
    .text-hover-primary:hover {
        color: #eab82e !important;
    }
}

.dash-main {
    flex: 1;
    display: flex;
    // z-index: 6;
    position: relative;
    flex-basis: 100%;
    width: 100%;

    @include mq('lg') {
        display: table;
    }

    .dash-sidebar {
        background: $white;
        background-size: 200% auto;
        height: 100%;
        min-width: calcRem(270);
        flex: 0 0 calcRem(270);
        z-index: 6;
        width: calcRem(270);
        transition: all 0.5s ease-in-out;
        box-shadow: 7px 0 60px rgba(0, 0, 0, 0.05);
        border-top-#{$left}-radius: 10px;
        position: fixed;
        height: calc(100vh - 85px);
        overflow-x: hidden;
        direction: $ltr;
        #{$right}: -100%;
        top: 120px;

        &::-webkit-scrollbar {
            width: 4px;
            height: 6px;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: rgb(38 27 21 / 0.25);
        }


        &.open {
            #{$right}: 0;
            z-index: 666;
        }

        @include mq('xxl') {
            top: 136px;
            height: calc(100vh - 110px);
        }

        @include mq('lg') {
            #{$right}: 0;
            &.closed {
                #{$right}: -100%;
            }
        }


        >ul {
            width: 100%;
            direction: $rtl;

            >li {
                position: relative;

                .sidemenu-link {
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    height: calcRem(56);
                    border-bottom: 1px solid rgb(0 0 0 / 11%);
                    margin: 0 8px;
                    font-size: calcRem(15);
                    font-family: $droid;
                    color: $text-color;
                    z-index: 3;
                    position: relative;




                    i {
                        color: $text-color
                    }

                    >span {
                        margin-#{$right}: calcRem(14);
                    }

                    .icon {
                        width: 25px;
                        display: inline-flex;

                        font-size: calcRem(22);

                        img {
                            width: 18px;
                        }
                    }

                    &.dropdown-toggle {
                        &::after {
                            position: absolute;
                            #{$left}: 0;
                            margin-#{$right}: calcRem(10);
                            border: none;
                            content: "\f078";
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                        }
                    }

                    &:hover {
                        color: $second-color;

                        i {
                            color: $second-color;

                        }
                    }

                }

                .dropdown-menu {
                    position: static !important;
                    float: none;
                    // background: rgb(38 27 21 / 26%);
                    // background: #5f534c;
                    transform: none !important;
                    width: 100% !important;
                    border: none;

                    li {
                        display: block;
                        margin-bottom: 5px;

                        &.active {
                            a {
                                background-color: $second-color;
                            }
                        }
                    }

                    a,
                    .dropdown-item {
                        font-size: calcRem(14);
                        font-family: $droid;
                        white-space: pre-wrap;
                        text-align: $right;
                        position: relative;
                        display: flex;
                        align-items: center;
                        border-radius: 0;
                        font-size: .8333333333rem;
                        font-family: droid;
                        z-index: 3;
                        position: relative;
                        padding-#{$right}: calcRem(30);

                        &::before {
                            content: "•";
                        }

                        &:active {
                            background: none;
                        }

                        &.active {
                            background: transparent;
                            color: $second-color;
                        }

                        &:hover {
                            color: $second-color;

                            i {
                                color: $second-color;

                            }
                        }

                        .icon {
                            display: inline-flex;
                            width: 24px;
                            font-size: calcRem(16);
                            color: $white;

                            i {
                                color: $white;

                            }

                            img {
                                width: 18px;
                            }
                        }

                        &::before {
                            // content: "•";
                            display: inline-block;
                            margin-#{$left}: 6px;
                            font-size: calcRem(16);
                        }

                    }
                }

                &.active {
                    .sidemenu-link {
                        color: $second-color;

                        i {
                            color: $second-color;

                        }
                    }

                    // &::after {
                    //     position: absolute;
                    //     content: "";
                    //     background-color: $second-color;
                    //     height: calcRem(40);
                    //     top: calcRem(10);
                    //     #{$right}: 0;
                    //     #{$left}: 0;
                    //     width: 105%;
                    //     z-index: 1;
                    //     border-top-#{$left}-radius: 50px;
                    //     border-bottom-#{$left}-radius: 50px;
                    // }
                }
            }

            .dropdown {
                .sidemenu-link {
                    &::after {
                        transition: .5s ease-in-out;
                    }
                }

                &.show {
                    .sidemenu-link {
                        &::after {
                            transform: rotate(180deg);
                        }
                    }
                }
            }

        }

        .tec-support {
            display: block;
            border-radius: 35.57px;
            border: 4px solid $second-color;
            text-align: center;
            padding: 15px 30px;
            color: $text-color;
            margin: 30px;

            &:hover {
                background-color: $second-color;
                color: $white
            }
        }

        &.fixed {
            height: 100vh;
            top: 0;
        }

    }

    .dash-sidecontent {
        width: 100%;
        overflow: hidden;
        flex: 1;
        flex-direction: column;
        display: flex;
        z-index: 5;
        padding-#{$left}: calcRem(20);
        padding-#{$right}: calcRem(20);
        padding-bottom: calcRem(40);
        transition: all 0.5s ease-in-out;

        @include mq('md') {
            padding-#{$left}: calcRem(40);
            padding-#{$right}: calcRem(40);
            padding-bottom: calcRem(40);
        }

        @include mq('lg') {
            padding-#{$right}: calcRem(300);
            padding-bottom: calcRem(90);

        }

        @include mq('xl') {
            padding: 0 calcRem(58);
            padding-#{$right}: calcRem(300);
            padding-bottom: calcRem(90);

        }

    }
    &.closed {
        .dash-sidecontent {
            padding-#{$right}: calcRem(20);
        }
    }
}

.new-dashboard.overflow-hidden {
    .dash-header, .dash-sidecontent {
        opacity: 0.5;
        @include mq('lg') {
            opacity: 1;
        }
    }
}