/* ----------------------------------------------------------------------------------------------------------------------------------------------------
Basic Styles
---------------------------------------------------------------------------------------------------------------------------------------------------- */

.footer {
	background: $brand-color;
	padding: calcRem(20) 0;
	text-align: center;
	color: $white;
}
