.dash-todo {
    background-color: $white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: calcRem(10) calcRem(20) calcRem(22) calcRem(10); 


    input {
        display: none;
    }

    .item {
        border-bottom: 1px solid #eee;
        padding: 8px 0;
        font-family: $droid;
        display: flex;

        .title {
            color: #5F534C;
            font-size: calcRem(18);
        }

        .sub-title {
            font-size: calcRem(16);
            color: #323232;
            opacity: 0.5;
        }

        &:last-child {
            padding-bottom: 0;
            border-bottom: 0;
        }

        .checkbox>span {
            height: 23px;
            width: 23px;
        }

        .checkbox.checkbox-babyblue>span {
            background-color: rgb(131 205 235 / 0.5);
        }

        .checkbox>input:checked~span {
            background-color: #83CDEB !important;

            &::after {
                border-color: #000000;
            }

        }

    }
}

