.dash-pagination {
    .btn.btn-icon.btn-circle {
        background-color: #F9F9F9;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: #969696;
        border-radius: 50%;
        width: 55px;
        height: 55px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        &.active {
                background-color: $second-color!important;
                color: $white;
        }
        &:hover {
            background-color: $second-color!important;
            color: $white;
        }   
    }
}