.ticket-btn {
    display: flex;
    align-items: center;
    border: calcRem(4) solid $second-color;
    border-radius: 30px;
    width: 100%;
    padding: calcRem(20) calcRem(10);
    justify-content: space-between;
    color: $dark;
    text-decoration: none;
    background-color: $white;



    .title {
        h6 {
            font-size: calcRem(16);
            margin-bottom: 10px;

            @include mq('xxl') {
                font-size: calcRem(18);
            }
        }

        h2 {
            font-size: calcRem(18);

            @include mq('xxl') {
                font-size: calcRem(24);
            }
        }
    }

    svg {
        width: 30px;
        height: 40px;
        path {
            fill: $second-color;
        }
        @include mq('xxl') {
            width: inherit;
            max-height: 60px;
            height: auto;
        }
    }

    &:hover {
        background-color: $second-color;
        color: $white; 
        text-decoration: none;
        svg {
            path {
                fill: $white;
            }
        }
    }
}