.title-ban-g {
    background: $second-color;
    padding: 1.2rem 1rem;
    border-top-right-radius: 30px!important;
    border-top-left-radius: 30px!important;
    .title-content {
        display: flex;
        align-items: center;

        .title,
        h2 {
            font-size: calcRem(20);
            margin-#{$right}: 10px;
            color: $white;

            @include mq('xxl') {
                font-size: calcRem(24);
            }
        }
    }
}

.card-body-title {
    color: #007CB0;
}
.card-body-subtitle {
    color: #364C2B;
    font-size: calcRem(16);
}